@charset "UTF-8";

body {
	background-color: #EFEFEF;
}

.title {
	font-weight: bold;
}

.containerElem {
	background-color: white;
}

#warningContainer {
	background-color: red;
	/* 	max-width: 100px; */
	height: 200px;
	width: 200px;
}

#countWarningsDisplay {
	font-weight: bold;
	font-size: 70px;
	color: white;
	text-align: center;
}

#selectDate {
	width: 200px;
	height: 35px;
}

#elemTable {
	width: 1250px;
	height: 100%;
}

.containerFlex {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

#detailsWarning {
	font-weight: bold;
	font-size: 40px;
}

.warningRecap{
	font-size: 25px;
}

.numberWarning {
	text-align: right;
}

.chart {
	position: relative;
	margin: auto;
	height: 40vh;
	width: 40vw;
}

#tableWarn {
	padding-right: 25px;
	padding-left: 25px;
	margin-bottom: 25px;
	width: auto;
	max-height: 250px;
	overflow-y: scroll;
}

#tableWarnings {
	margin-bottom: 0;
	background-color: #EFEFEF;
}

.rowTable {
	cursor: pointer;
}

.rowTable:hover {
	background-color: #AADCDC;
}

.selectChart {
	max-width: 200px;
}

.dayPurchase {
	font-size: 50px;
	text-align: center;
}

.dayPurchaseLabel{
	font-size: 30px;
	text-align: center;
}

.borderTable{
	border-style: solid;
}

.dayPurchaseCount {
	font-size: 80px;
	text-align: center;
	color: red;
}

.containerUniqueChart {
	border-style: solid;
	border-color: #C39898;
	height: 40vh;
	width: 40vw;
}

.containerFlexSimple {
	display: flex;
}

#logoAtos{
	right: 0;
	bottom: 0;
	position: absolute;
	height: 35px;
	width: 110px;
}

#iconExclamation {
	width: 50px;
	height: 50px;
}

#containerChart {
	padding-top: 15 px;
}

.tablePurchase {
	margin-top: 20	0px;
}