<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>PPFE</display-name>
	
	<listener>
		<listener-class>org.quartz.ee.servlet.QuartzInitializerListener
	</listener-class>
	</listener>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>com.ppfe.servlets.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>com.ppfe.servlets.AjaxServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PurchaseServlet</servlet-name>
		<servlet-class>com.ppfe.servlets.PurchaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/ajax</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>PurchaseServlet</servlet-name>
		<url-pattern>/purchase</url-pattern>
	</servlet-mapping>
</web-app>